# Auto detect text files and perform LF normalization
* text=auto
Rig_Dan.uasset filter=lfs diff=lfs merge=lfs -text
Rig_Truz.uasset filter=lfs diff=lfs merge=lfs -text
content/characters/truz/Rig_Dan.uasset filter=lfs diff=lfs merge=lfs -text
content/characters/truz/Rig_Truz.uasset filter=lfs diff=lfs merge=lfs -text
[[:space:]]Content/Characters/Dan/Rig_Dan.uasset filter=lfs diff=lfs merge=lfs -text
Content/Characters/Dan/Rig_Dan.uasset filter=lfs diff=lfs merge=lfs -text
Content/Characters/Truz/Rig_Truz.uasset filter=lfs diff=lfs merge=lfs -text
